#timeline {
    background-color: black;
    height: 5vh;
    width: 80vw;
    opacity: 80%;
}
#end-time {
    float: right;
    transition-duration: 0.2s;
}

#start-time {
    position: relative;
    z-index: 10;
    color: red;
    transition-duration: 0.1s;
    transition-property: left;
    top: -2px;
}

p {
    display: inline;
    margin: 0;
    color: black;
    font-size: small;
}

#tracker {
    height: 100%;
    width: 1px;
    background-color: red;
    position: relative;
    transition-duration: 0.1s;
    transition-property: left;
}

#controls {
    width: max-content;
    margin: auto;
}